src/.embedding_cache/
.venv/
wandb/
logs/
run_dvrl.log
outputs/
!outputs/DVRL-V5-20250206
!outputs/DVRL-V5-20250206/*.npy
!outputs/DVRL-V7-20250501
!outputs/DVRL-V7-20250501/*.csv
!outputs/pseudo_labels
!outputs/pseudo_labels/*.csv


# Python関連
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.ipynb_checkpoints/

# 環境関連
.env
.env.local
.env.development
.env.test
.env.production

# エディタ/IDE関連
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# テスト関連
.coverage
htmlcov/
.pytest_cache/

# その他
.DS_Store
Thumbs.db